* {
    box-sizing: border-box;
}

:root {
    --menu-width: 2.2cm;
    --padding: .9cm;
    --small-padding: .7cm;
    --small-small-padding: .3cm;
    --img-width: 3cm;
    --line-width: 2px;
    --point-width: 23px;
    --small-point-width: 17px;
    --title1-size: 72px;
    --title2-size: 36px;
}

body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 27px;
}

img.picture {
    box-shadow: 0 0px 20px 5px rgb(0 0 0 / 25%);
    border-radius: 50%;
    position: absolute;
    width: var(--img-width);
    height: var(--img-width);
    top: var(--padding);
    left: calc(var(--padding) + var(--menu-width) + var(--padding));
    object-fit: cover;
    z-index: 10;
}

.img-text > * {
    vertical-align: middle;
}

.img-text > img {
    height: 20px;
    margin-right: 5px;
}

.content {
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-align: justify;
    list-style-type: none;
    position: absolute;
    top: calc(var(--padding));
    left: calc(var(--padding) + var(--menu-width) + var(--padding) + var(--img-width) / 2 + var(--point-width) / 2 + var(--line-width) / 2 + var(--small-small-padding));
    width: calc(21cm - (var(--padding) + var(--menu-width) + var(--padding) + var(--img-width) / 2 + var(--point-width) / 2 + var(--line-width) / 2 + var(--small-small-padding) + var(--padding)));
    max-height: calc(29.7cm - var(--padding) * 2);
}

.content > li {
    margin-bottom: var(--small-padding);
}

.content > li.columns {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.content > li.columns > * {
    flex: 1;
}

.content > li[data-level="0"] {
    margin-left: calc(var(--img-width) / 2 - var(--point-width) / 2 - var(--line-width) / 2);
    margin-top: calc(var(--img-width) / 2 - var(--title2-size) / 2);
    margin-bottom: calc(var(--padding) * 2);
}

.content > li[data-level="2"]:not(.last), .content > li.head {
    margin-bottom: var(--small-small-padding);
}

.side {
    position: absolute;
    top: calc(var(--padding));
}

.container {
    position: absolute;
    z-index: 10;
    left: var(--padding);
}

.container .title {
    position: absolute;
    margin-right: var(--small-small-padding);
}

.container .point {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0px 20px 5px rgb(0 0 0 / 25%), inset 0 0 0px 20px rgba(0, 0, 0);
    right: 0;
}

.container.level0 {
    width: calc(var(--menu-width) + var(--padding));
}

.container.level0 .title {
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
}

.container.level0 .point {
    display: none;
}

.container.level1 {
    width: calc(var(--menu-width) + var(--padding) + var(--img-width) / 2 + var(--point-width) / 2 + var(--line-width) / 2);
}

.container.level1 .title {
    text-transform: uppercase;
}

.container.level1 .point {
    width: var(--point-width);
    height: var(--point-width);
}

.container.level2 {
    width: calc(var(--menu-width) + var(--padding) + var(--img-width) / 2 + var(--small-point-width) / 2 + var(--line-width) / 2);
}

.container.level2 .title {
    right: var(--small-point-width);
}

.container.level2 .point {
    width: var(--small-point-width);
    height: var(--small-point-width);
}

.line {
    width: var(--line-width);
    height: calc(29.7cm - (var(--padding) + var(--img-width) / 2));
    position: absolute;
    top: calc(var(--padding) + var(--img-width) / 2);
    left: calc(var(--padding) + var(--menu-width) + var(--padding) + var(--img-width) / 2 - var(--line-width) / 2);
    box-shadow: inset 0 0 0px 20px rgba(0, 0, 0);
}

.langs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.lang {
    margin: 30px 5%;
    position: relative;
    height: 15px;
    width: 90%;
    box-shadow: inset 0 0 0px 20px #ddd;
}

.lang .bar {
    position: absolute;
    height: 100%;
    box-shadow: inset 0 0 0px 20px #000090;
}

.lang .title {
    position: absolute;
    top: -23px;
}

.lang .subtitle {
    position: absolute;
    bottom: -23px;
}